<!DOCTYPE html>
<html>
  <head>
    <title>Zlack</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito|Yantramanav" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <script type="text/javascript">
      window.userURL = "<%= image_url('user.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
